<div class="success-animation my-5">
    <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" /><path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" /></svg>
</div>

<div class="text-center">
    <h2>Migration completed successfully!</h2>
    <h3>Download .json config file</h3>
</div>

<div class="d-flex justify-content-center mt-5">
    <button class="btn btn-block btn-outline-success w-50">Download .json files</button>
</div>
