<h2 class="text-center">Issue statuses</h2>
<h4 class="text-center">Selected issue statuses will be migrated to the new redmine server</h4>

<form id="statusForm" class="mt-3">
    <div class="d-flex flex-row flex-wrap justify-content-center gap-5">
        <div class="flex-fill mb-4 pt-5 bg-body-tertiary rounded-3">
            <h2 class="text-center mb-2">Import server</h2>
            <div id="statusMapContainer" class="d-flex flex-column flex-fill gap-3 py-md-5 align-items-center justify-content-center"></div>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-block w-50 btn-primary">Next step</button>
    </div>
</form>

<script>
    $(document).ready(function() {
        let exportServerOptions = "";

        function addStatus(status) {
            return `
                <div class="d-flex flex-row w-75 align-items-center gap-5 p-3 rounded bg-dark">
                    <div class="w-100">${status.id} - ${status.name} | IsDefault: ${status.isDefault} | IsClosed: ${status.isClosed} </div>
                    <div class="flex-shrink-1">
                        <select
                            class="form-select status-select"
                            data-import-status-id='${status.id}'
                            name="statusMap[${status.id}]"
                            aria-label="Select new status"
                        >
                                ${exportServerOptions}
                        </select>
                    </div>
                </div>`;
        }
    
        function loadStatus() {
            $.ajax({
                url: `/Migration/GetIssueStatuses?type=0`,
                method: 'GET',
                success: function(data) {
                    if (!Array.isArray(data)) {
                        console.error('Unexpected data format:', data);
                        return;
                    }

                    const conflictContainer = $('#statusMapContainer');
                    data.forEach(status => {
                        conflictContainer.append(addStatus(status));
                    });
                },
                error: function(err) {
                    console.error('Error fetching status::', err);
                }
            });
        }

        function loadExportServerStatus() {
            $.ajax({
                url: `/Migration/GetIssueStatuses?type=1`,
                method: 'GET',
                success: function(data) {
                    if (!Array.isArray(data)) {
                        console.error('Unexpected data format:', data);
                        return;
                    }

                    data.forEach(status => {
                        exportServerOptions += `<option value="${status.id}">${status.id} - ${status.name} | IsDefault: ${status.isDefault}</option>`;
                    });

                    loadStatus();
                },
                error: function(err) {
                    console.error('Error fetching status::', err);
                }
            });
        }

        loadExportServerStatus();

        $('#statusForm').submit(function(event) {
            event.preventDefault();


            let statusMap = [];
            $('.status-select').each(function () {
                const importStatusId = $(this).data('import-status-id');
                statusMap.push([importStatusId, parseInt($(this).val())]);
            });

            $.ajax({
                url: '/Migration/SaveStatus',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ StatusIds: statusMap }),
                success: function(response) {
                    if (response.success) {
                        loadStepContent(5);
                    } else {
                        alert('Failed to save status.');
                    }
                },
                error: function(xhr, status, error) {
                    alert('An error occurred while saving status.');
                }
            });
        });
    });
</script>
